
{% load static %}
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Reprise Responsive web template, Bootstrap Web Templates" />
    <title>Where is My Doctor | Home </title>
    <link rel="shortcut icon" href="{% static 'assets\images\loogo.png' %}" type="image/x-icon">
    <link href="//fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
</head>

<body>
<div class="breadcrumb-bg py-5  w3l-inner-page-breadcrumb">
    <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
        <ul class="breadcrumbs-custom-path mt-4 text-center pt-5">
            <li><a href="/">Add Profile </a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Form </li>
        </ul>
    </div>
</div>
<section class="w3l-contact-2 py-5" id="contact">
    <div class="container py-lg-4 py-md-3 py-2">
        <div class="title-content text-left">
            <h3 class="title-w3l"><span>Add You Proffessional Details to continue</span></h3>
        </div>
        <div class="contact-grids d-grid mt-5 pt-lg-3">

            <div class="contact-right ml-5">
                <form method="post" class="signin-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-grids">
                        {% for field in form %}
                        <label for="">{{field.label}}</label>
                        {{field}}
                        {% endfor %}
                    </div>

                    <div class="submit-w3l-button text-lg-right">
                        <button class="btn btn-style btn-primary">Add Details</button>
                    </div>
                </form>
            </div>
        </div>
</section>

</body>
</html>