{% extends "home.html" %}
{% load static %}

{% block content %}
<section class="w3l-pricing-sec py-5" id="pricing">
    <div class="container py-md-5 py-2">
        <div class="title-content text-left">
            <h6 class="title-subhny">Treatment services</h6>
            <h3 class="title-w3l"><span>Life </span> Care</h3>
        </div>
        <div class="row pricing-main-grids mt-3">
            <div class="col-lg-4 col-md-6 pricing-main-grid mt-sm-5 mt-4">
                <div class="w3-pricing-inner-inf">
                    <div class="pricing-header">
                        <div class="col-lg-4 left-wthree-img mt-lg-0 mt-md-5 mt-4">
                            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Rc0JZX0r30sTsa_UqRvBWIll1rY0ajFZaw&usqp=CAU"
                                alt="" class="img-fluid2 "> -->
                                <img src="https://th.bing.com/th/id/OIP.WwQBWl9qcbqq3kIQw1GBxwHaFu?w=213&h=180&c=7&r=0&o=5&pid=1.7"
                                alt="" class="img-fluid2 ">
                        </div>
<!-- 
                        <h4>Bark</h4>
                        <p>A Petcareshop, All the food items</p> -->
                        <h4>Consultation</h4>
                        <p>Booking for doctor consultant</p>
                        <div class="price-wrapper mt-4">
                            <div class="price">


                            </div>
                        </div>
                        <div class="pricing-get-button my-4">
                            <!-- <a class="btn btn-style d-block" href="#">Location</a> -->
                            <a class="btn btn-style d-block" href="#">Bookings</a>
                        </div>
                        <span class="subtitle"></span>
                    </div>
                    <div class="pricing-body mt-4">
                        <div class="inner">
                            <!-- <ul class="list-style">
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> All the food items</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Petcare technician</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Various vaccines</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Home delhivery</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 24/7 Support</li>
                            </ul> -->
                            <ul class="list-style">
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> All Departments</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Nursing Staffs</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Mental Health care</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Counselling </li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 24/7 Causality</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pricing-main-grid mt-sm-5 mt-4">
                <div class="w3-pricing-inner-inf">
                    <div class="pricing-header">
                        <div class="col-lg-4 left-wthree-img mt-lg-0 mt-md-5 mt-4">
                            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM9R9JXESICJBppuRDtrazKxf51sGKRbxPRA&usqp=CAU"
                                alt="" class="img-fluid2"> -->
                                <img src="https://media.bizj.us/view/img/10427652/nativefirstbankpharmacy*1200xx6991-3942-0-0.jpg"
                                alt="" class="img-fluid2">
                        </div>
                        <!-- <h4>PE Vaccine</h4>
                        <p>make your vaccine here</p> -->
                        <h4>Pharmacy</h4>
                        <p>Get your medicine here</p>
                        <div class="price-wrapper mt-4">
                            <div class="price">

                            </div>
                        </div>
                        <div class="pricing-get-button my-4">
                            <!-- <a class="btn btn-style d-block" href="#">Location</a> -->
                            <a class="btn btn-style d-block" href="#">Availability</a>
                        </div>
                        <span class="subtitle"></span>
                    </div>
                    <div class="pricing-body mt-4">
                        <div class="inner">
                            <!-- <ul class="list-style">
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Make Your vaccines</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 100% safe</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> All vaccines are availble
                                </li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Free pet care</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 24/7 Support</li>
                            </ul> -->
                            <ul class="list-style">
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Get your medicines</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 100% safe</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> All vaccines are availble
                                </li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Pediatric medicines</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 24/7 Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pricing-main-grid mt-sm-5 mt-4">
                <div class="w3-pricing-inner-inf">
                    <div class="pricing-header">
                        <div class="col-lg-4 left-wthree-img mt-lg-0 mt-md-5 mt-4">
                            <img src="https://www.vakhospital.com/wp-content/uploads/diagnostics.jpg"
                                alt="" class="img-fluid2">
                            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWI-zWg1BsAPT-UV6-6jkgjmc-h2mc5EvCxQ&usqp=CAU"
                                alt="" class="img-fluid2"> -->
                        </div>
                        <h4>Diagnostics</h4>
                        <p>Make your secure diagnostics</p>
                        <div class="price-wrapper mt-4">
                            <div class="price">


                            </div>
                        </div>
                        <div class="pricing-get-button my-4">
                            <a class="btn btn-style d-block" href="#">Categories</a>
                            <!-- <a class="btn btn-style d-block" href="#">Location </a> -->
                        </div>
                        <span class="subtitle"></span>
                    </div>
                    <div class="pricing-body mt-4">
                        <div class="inner">
                            <ul class="list-style">
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Responsive Caring </li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Radiology MRI&CT</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Laboratory </li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Get easy Results</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 24/7 Support</li>
                            </ul>
                            <!-- <ul class="list-style">
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Taking care the pet</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Responsive Caring</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Food providing</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Well trained caretaker
                                </li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 24/7 Support</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}