{% extends "home.html" %}
{% load static %}

{% block content %}
<section class="w3l-pricing-sec py-5" id="pricing">
    <div class="container py-md-5 py-2">
        <div class="title-content text-left">
            <h6 class="title-subhny">pet services</h6>
            <h3 class="title-w3l"><span>Best </span> Picks</h3>
        </div>
        <div class="row pricing-main-grids mt-3">
            <div class="col-lg-4 col-md-6 pricing-main-grid mt-sm-5 mt-4">
                <div class="w3-pricing-inner-inf">
                    <div class="pricing-header">
                        <div class="col-lg-4 left-wthree-img mt-lg-0 mt-md-5 mt-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Rc0JZX0r30sTsa_UqRvBWIll1rY0ajFZaw&usqp=CAU"
                                alt="" class="img-fluid2 ">
                        </div>

                        <h4>Bark</h4>
                        <p>A Petcareshop, All the food items</p>
                        <div class="price-wrapper mt-4">
                            <div class="price">


                            </div>
                        </div>
                        <div class="pricing-get-button my-4">
                            <a class="btn btn-style d-block" href="#">Location</a>
                        </div>
                        <span class="subtitle"></span>
                    </div>
                    <div class="pricing-body mt-4">
                        <div class="inner">
                            <ul class="list-style">
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> All the food items</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Petcare technician</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Various vaccines</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Home delhivery</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 24/7 Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pricing-main-grid mt-sm-5 mt-4">
                <div class="w3-pricing-inner-inf">
                    <div class="pricing-header">
                        <div class="col-lg-4 left-wthree-img mt-lg-0 mt-md-5 mt-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM9R9JXESICJBppuRDtrazKxf51sGKRbxPRA&usqp=CAU"
                                alt="" class="img-fluid2">
                        </div>
                        <h4>PE Vaccine</h4>
                        <p>make your vaccine here</p>
                        <div class="price-wrapper mt-4">
                            <div class="price">

                            </div>
                        </div>
                        <div class="pricing-get-button my-4">
                            <a class="btn btn-style d-block" href="#">Location</a>
                        </div>
                        <span class="subtitle"></span>
                    </div>
                    <div class="pricing-body mt-4">
                        <div class="inner">
                            <ul class="list-style">
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Make Your vaccines</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 100% safe</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> All vaccines are availble
                                </li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Free pet care</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 24/7 Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pricing-main-grid mt-sm-5 mt-4">
                <div class="w3-pricing-inner-inf">
                    <div class="pricing-header">
                        <div class="col-lg-4 left-wthree-img mt-lg-0 mt-md-5 mt-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWI-zWg1BsAPT-UV6-6jkgjmc-h2mc5EvCxQ&usqp=CAU"
                                alt="" class="img-fluid2">
                        </div>
                        <h4>Petcareshop</h4>
                        <p>We will take care of your pet</p>
                        <div class="price-wrapper mt-4">
                            <div class="price">


                            </div>
                        </div>
                        <div class="pricing-get-button my-4">
                            <a class="btn btn-style d-block" href="#">Location </a>
                        </div>
                        <span class="subtitle"></span>
                    </div>
                    <div class="pricing-body mt-4">
                        <div class="inner">
                            <ul class="list-style">
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Taking care the pet</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Responsive Caring</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Food providing</li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> Well trained caretaker
                                </li>
                                <li><span class="fa fa-check mr-2" aria-hidden="true"></span> 24/7 Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}